<div style="padding:200px 80px;">
    <ul id="kaTop">
        <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
        <li><a class="top" id="top" href="javascript:void(0);"></a></li>
    </ul>
    
    <h2 style="text-align : center; padding: 30px 0;">주문리스트 페이지</h2>

    <table style="border:5px solid #444444"
    
    
    width="100%"
    height="200"
    cellspacing="5">
    <caption style="font-size:20px">전체 주문목록</caption>
    <thead>
        <tr align="center" bgcolor="white">
            <th style="border: 1px solid #444444;">주문번호(ordernum)</th>
            <th  style="border: 1px solid #444444;">주문날짜</th>
            <th  style="border: 1px solid #444444;">상품번호</th>
            <th  style="border: 1px solid #444444;">수량</th>

            <th  style="border: 1px solid #444444;">고객ID</th>
            <th  style="border: 1px solid #444444;">이름</th>
            <th  style="border: 1px solid #444444;">연락처</th>
            <th  style="border: 1px solid #444444;">주소지</th>
            <th  style="border: 1px solid #444444;">상세주소</th>
            <th  style="border: 1px solid #444444;">주문메모</th>
            <th  style="border: 1px solid #444444;">배송상태</th>
            
        </tr>
    </thead>
    
    <tbody>
        <%rows.forEach(( row, index )=>{%>
        <tr align="center" bgcolor="white">
            <th  style="border: 1px solid #444444;"><%=row.ordernum%></th>
            <th  style="border: 1px solid #444444;"><%=row.indate%></th>
            <th  style="border: 1px solid #444444;"><%=row.prodnum%></th>
            <th  style="border: 1px solid #444444;"><%=row.quantity%></th>
            
            <th  style="border: 1px solid #444444;"><%=row.userId%></th>
            <th  style="border: 1px solid #444444;"><%=row.receiverName%></th>
            <th  style="border: 1px solid #444444;"><%=row.receiverPhoneNum%></th>
            <th  style="border: 1px solid #444444;"><%=row.receiverAddress%></th>
            <th  style="border: 1px solid #444444;"><%=row.receiverAddressSub%></th>
            <th  style="border: 1px solid #444444;"><%=row.orderMemo%></th>
            <th  style="border: 1px solid #444444;">
                <%if (row.result==1){%>
                    <%="배송 전"%>
                <%}else{%>
                    <%="배송 완료"%>
                <%}%>
            </th>

            <th  style="border: 1px solid #444444;">
                <%if (row.result==1){%>
                <button type="button" onclick="location.href='/order_update?ordernum=<%=row.ordernum%>' ">
                    배송완료
                </button>
                <%}%>
                    


                <!-- <button type="button" onclick="location.href='/order_delete?prodnum=<%=row.prodnum%>' ">삭제</button> -->
            </th>

        </tr>
        <%})%>
    </tbody>
    </table>
    
    </div>