<ul id="kaTop">
    <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
    <li><a class="top" id="top" href="javascript:void(0);"></a></li>
</ul>

        <section class="w1200" onload="init()">
            <div class="product_wrap">
                <!-- (관리자용) 상품 삭제 버튼 (/upload) -->
                <% if(userId === 'admin1'){ %>
                    <!-- <article class="write_btn_box">
                        <div onclick="javascript:location.href='/deleteProduct?prodnum=<%=sql1_result.prodnum%>'">상품 삭제</div>
                    </article> -->
                <%};%>

                <!-- 상품 정보 / 구매 / 장바구니 -->
                <div class="product_detail">
                    <div class="product_detail_left">
                        <div class="product_main_pic">
                            <img class="test_content_d" src="<%=sql1_result.image%>" alt="(S3)업로드한 이미지 가져오기" />
                        </div>
                    </div>

                    <div class="product_detail_right">
                        <div class="product_sale">
                            <span>15%↓</span>
                        </div>

                        <div class="product_title">
                            <%=sql1_result.name%>
                        </div>

                        <ul>
                            <li class="normal_font">
                                <span class="weight700">추천피부</span><br>
                                <span>✓ 지성   ✓ 중성   ✓ 건성</span><br><br>
                                <span class="weight700">메인 성분</span><br>
                                <span>✓ 약모밀추출물 ✓ 어성초</span><br><br>
                                <span>어성초 성분이 자극된 피부를 부드럽게 토닥여줘요.<br>광물성 오일, 인공 방부제, 인공 합성향, 인공 색소가 들어있지 않아 평소에 민감하신 분들도 마일드하게 사용할 수 있어요.<br>자연 유래 성분이 들어 있어 넉넉하게 발라줘도 피부에 부담감이 적어요.</span><br><br>
                                <span class="weight700 circular-std">Without</span><br>
                                <span>파라벤, 페녹시에탄올, 인공 방부제, 인공 색소, 알러지 유발 향료</span>
                            </li>
                            <li class="product_price">
                                <span><%=sql1_result.price1%>원</span>
                            </li>
                            <li class="product_saleprice">
                                <span class="green"><%=sql1_result.price2%>원</span>
                            </li>
                        </ul>

                        <div class="product_totalprice">
                            <table>
                                <tbody>
                                    <tr>
                                        <form class="forma" name="forma" action="/order" method="POST">
                                            <input type="hidden" name="prodnum" id="prodnum" value="<%=sql1_result.prodnum%>" />
                                            <td class="product_totalprice_left"></td>
                                            <td class="product_totalprice_middle">
                                                <span>
                                                    <!-- 상품수 +/- -->                                         
                                                    <input type="hidden" name="sell_price" value="<%=sql1_result.price2%>" style="background-color:red; font-size:50px;">
                                                    <input type="text" name="amount" id="amount" value="1" width="22px" readonly>
                                                    <input type="button" value="" name="add">
                                                    <input type="button" value="" name="minus"> 
                                                </span>
                                            </td>

                                            <td class="product_totalprice_right">                                              
                                                <div>
                                                    <!-- 갯수당 가격 표시 -->
                                                    <input type="text" name="totalsum" value="" style="border:none;text-align:right;" readonly>원
                                                </div>
                                            </td>

                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <p class="font12">할인가가 적용된 최종 결제예정금액은 주문 시 확인할 수 있습니다.</p>

                        <div class="product_checkout_wrap">
                            <div class="product_checkout">
                                <a href="javascript:orderProduct();" class="product_checkout_left">바로 구매하기</a>
                                <a href="javascript:insertCart();" class="insert_cart product_checkout_right">장바구니 담기</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- SNS Review -->
            <div class="product_photoreviews_wrap">
                <div class="product_photoreviews">
                    <h3>SNS Review</h3>
                    <div class="product_photoreviews_w768_display">
                        <div class="product_photoreviews_contents">
                            <ul>
                                <li> 
                                    <a href="https://www.instagram.com/p/CBf1LYjF2yl/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CBF9rWQlDi-/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/Br5QRjRh08w/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CG4ocX1FyUY/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/tv/CbEy5XYFMj7/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CZrqZGwv8C1/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CDqC0XuFpuh/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/explore/tags/%ED%97%A4%EC%9D%B4%EB%84%A4%EC%9D%B4%EC%B2%98/">
                                        <div class="product_more_txt">
                                            <span>더보기+</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 하단 탭메뉴 -->
            <ul class="product_nav">
                <li id="first_li"><a href="#section1">상세정보</a></li>
                <li><a href="#section2">리뷰</a></li>
                <li><a href="#section3">배송정책</a></li>
            </ul>

            <!-- 1) 상세정보탭 -->
            <section class="product_nav_wrap" id="section1">
                <div class="picture_wrap">
                    <div>
                        <img src="../img/lotion_banner2.jpg">
                        <img src="../img/lotion_banner.jpg">
                        <img src="../img/new_lotion_1.jpg">
                        <img src="../img/new_lotion_4.jpg">
                        <img src="../img/lotion_detail.jpg">
                        <img src="../img/lotion_pcr_review.jpg">
                    </div>
                </div>
            </section>

            <!-- 2) 리뷰탭 -->
            <section class="product_nav_wrap" id="section2" >
                <div class="product_review">
                    <span>Photo Review</span>
                </div>
                <!-- 포토 리뷰 -->
                <div class="product_review_widget_wrap">
                    <!-- <div class="product_review_widget">
                        <div class="product_review_total">+500</div>
                        <figure class="reviwer">
                            <a>
                                <img src="../img/200707200959.jpeg">
                            </a>
                            <figcaption>+Review</figcaption>
                        </figure>
                    </div> -->
                    
                    <% sql2_result.forEach(( row, index )=>{%>
                        <%if(row.r_imgFile !== null) {%>
                        <div class="product_review_widget">
                            <figure class="event_on">
                                <a>
                                    <img src="<%= row.r_imgFile%>" alt="포토리뷰이미지"/>
                                </a>
                                <figcaption><%=row.username%></figcaption>
                            </figure>
                        </div>
                        <%}%>
                    <%});%>
                    <% if(!sql2_result){%>
                        <h1>no review</h1>
                    <%}%>



                </div>

                <!-- 모달창 (포토리뷰) -->
                <% sql2_result.forEach(( row, index )=>{%>
                    <%if(row.r_imgFile !== null) {%>
                    <div class="dis ev_box_wrap" id="photo1">
                        <div class="event_box">
                            <a class="close">X</a>
                            <div class="detail_title_box">
                                <h4>Photo Review</h4>
                                <p><%=row.username%></p>
                            </div>
                            <div class="con_box2">
                                <div class="event_notice">
                                    <div class="review_image_wrap">
                                        <img src="<%= row.r_imgFile%>" alt="리뷰이미지" style="width:100%;height: 300px;object-fit: contain;"/>
                                    </div>
                                    <div class="pr_option">
                                        <div><span>피부타입</span></div>
                                        <div><span>복합형, 민감성</span></div>
                                        <span class="star-prototype" style="width:80px;">
                                            <%if(is_logined){%>
                                                <%=row.star%>
                                            <%}else{%>
                                                <%if(row.star===5){%>
                                                    <span style="width:80px"></span>
                                                <%}else if(row.star===4){%>
                                                    <span style="width:64px"></span>
                                                <%}else if(row.star===3){%>
                                                    <span style="width:48px"></span>
                                                <%}else if(row.star===2){%>
                                                    <span style="width:32px"></span>
                                                <%}else if(row.star===1){%>
                                                    <span style="width:16px"></span>
                                                <%}else{%>
                                                    <span style="width:0px"></span>
                                                <%}%>
                                            <%}%>
                                        </span>
                                    </div>
                                    <div class="pr_option_txt">
                                        <p><%=row.content%></p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <%}%>
                <%});%>

                <!-- 전체리뷰 -->
                <div class="product_comment_wrap">
                    <div class="product_comment">
                        <article class="product_comment_contents">
                            <div class="product_comment_title">상품평</div>
                            <!-- 리뷰작성버튼 -->
                            <%if(is_logined){%>
                                <div class="product_review_btnbox" id="review_write_btn">
                                    <button id="myBtn"><a>리뷰 작성하기</a></button>
                                </div>
                            <%}else{%>
                                <div style="color:#91949C">* 로그인을 하셔야 리뷰작성이 가능합니다.</div>    
                            <%}%>
                    
                            <!-- <div class="product_comment_total">
                                
                            </div> -->
                        </article>
                        
                    </div>

                    <!-- 리뷰 1페이지 start -->
                    <section class="review_page_section" id="review_section1">
                        <% sql2_result.forEach(( row, index )=>{%>
                            <div class="product_review_comment_wrap">
                                <div class="product_review_comment">
                                    <div class="product_review_comment_left">
                                        <span class="star-prototype">
                                            <%if(is_logined){%>
                                                <%=row.star%>
                                            <%}else{%>
                                                <%if(row.star===5){%>
                                                    <span style="width:80px"></span>
                                                <%}else if(row.star===4){%>
                                                    <span style="width:64px"></span>
                                                <%}else if(row.star===3){%>
                                                    <span style="width:48px"></span>
                                                <%}else if(row.star===2){%>
                                                    <span style="width:32px"></span>
                                                <%}else if(row.star===1){%>
                                                    <span style="width:16px"></span>
                                                <%}else{%>
                                                    <span style="width:0px"></span>
                                                <%}%>
                                            <%}%>
                                        </span>
                                        <div class="product_review_comment_name"><%=row.username%></div>
                                        <div class="product_review_comment_date"><%=row.update_time%></div>
                                    </div>
                                    <div class="product_review_comment_right">
                                        <div class="product_review_comment_detail"><%=row.content%></div>
                                        <div class="product_review_comment_where">알파리뷰에서 작성됨</div>

                                        <%if(row.r_imgFile){%>
                                        <div class="product_review_comment_detail">
                                            <img src="<%= row.r_imgFile%>" alt="리뷰이미지" style="width:200px;height:200px;display:block;float:right;"/>
                                        </div>
                                        <%}%>
                                    
                                        <!-- 본인만 지울수있도록,,수정하기 !! -->
                                        <%if(row.username === userId){%>
                                        <div class="review_delete" onclick="javascript:location.href='/deletedetail?id=<%=row.id%>'">
                                            삭제
                                        </div>
                                        <%}%>
                                        
                                    </div>    
                                </div>
                            </div>
                        <%});%>
                    </section>
                    
                    
                </div>

                <div class="product_review_bottom">
                    <!-- 리뷰버튼자리-->
                </div>

            

                <!-- 리뷰 작성하기 start -->
                <% if(typeof errs !== 'undefined'){ %>
                    <% errs.forEach(()=>{ %>
                        <h3><%= err.param %> : <%= errs.msg %></h3>
                    <% }) %>
                <% } %>
                <form class="w1200" method="POST" action="/store2" enctype="multipart/form-data">
                    <div class="review_write_wrap disnone" id="myModal">
                        <div class="review_write_title_wrap">
                            <div class="review_write_title">
                                <img src="../img/product_icon-xxhdpi.png">
                                <span>상품 품질 리뷰</span>
                            </div>
                            <div class="review_write_title2">
                                <p>이 상품의 품질에 대해서 얼마나 만족하시나요?</p>
                            </div>
                        </div>
                        
                        <input type="hidden" name="prodnum" id="prodnum" value="<%=sql1_result.prodnum%>" />

                        <div class="naming">
                            <div>이름(userId)</div>
                            <input type="text" id="username" name="username" value="<%=userId%>" readonly>
                        </div>

                        <div class="review_rating">
                            <div class="review_rating_left">
                                <img src="<%=sql1_result.image%>" alt="(S3)업로드한 이미지 가져오기" />
                            </div>
                            <div class="review_rating_right">
                                <div class="review_rating_right_title"><%=sql1_result.name%></div>

                                <div class="starRev">
                                    <span id="star11" class="starR" onclick="star1()">별1</span>
                                    <span id="star22" class="starR" onclick="star2()">별2</span>
                                    <span id="star33" class="starR" onclick="star3()">별3</span>
                                    <span id="star44" class="starR" onclick="star4()">별4</span>
                                    <span id="star55" class="starR" onclick="star5()">별5</span>
                                </div>

                                <!-- 별점 -->
                                <input type="hidden" value="" name="starcount" id="starcount">

                            </div>
                        </div>
                        <div class="review_writing">
                            <div class="review_writing_left">상세리뷰</div>
                            <div class="review_writing_right">
                                <div class="review_writing_content">
                                    <textarea id="content" name="content" placeholder="상품 품질에 대한 고객님의 솔직한 리뷰를 남겨주세요."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="review_attach">
                            <div class="review_attach_left">사진첨부</div>
                            <input type="file" class="re_file_btn" name="r_imgFile" style="padding-top:20px;height:25px;">
                            <div class="ask_attach_file">
                                <div class="insert">
                                </div>
                            </div>
                        </div>
                        <div class="review_btn">
                            <button type="submit" class="submit_btn">등록하기</button>
                            <button type="button" class="cancel_btn">취소하기</button>
                        </div>
                    </div>
                </form>

            </section>

            <!-- 3) 배송교환정책탭-->
            <section class="product_nav_wrap" id="section3">
                <div class="product_delivery_wrap">
                    <div class="product_delivery_title">배송 교환 정책</div>
                    <div class="product_delivery">
                        <div class="product_delivery_left">
                            <p>
                                <span class="h5 bold black">*배송</span>
                                <br><br>
                                평일 오후 5시까지 결제된 건은 당일 출고됩니다. 
                                결제 후 취소를 원하시면 고객센터(070-4352-5176)로 문의바랍니다.
                                <br>
                                배송 물량 및 연휴 등으로 마감 시간이 변동될 수 있습니다.
                                택배업체는 로젠택배를 이용하여 배송하고 있습니다.
                                <br>
                                당일 출고되면 1~2일 내로 받아보실 수 있지만,
                                택배물량 또는 천지지변에 따라 4~5일(일요일/공휴일제외) 이상 지연될 수 있으니 
                                양해 부탁드립니다.(일요일/공휴일 제외)
                                <br>
                                금요일 오후 5시 이후 결제 건은 다음주 월요일에 출고됩니다.
                            </p>
                            <br>
                            <p><span class="h5 bold black">* 배송 조회 방법</span>
                                <br><br>
                                홈페이지 > 마이페이지 > 구매내역 
                                (발송 당일 오후 18시 이후 또는 다음날 오전부터 조회 가능합니다)
                            </p>
                            <br>
                            <p><span class="h5 bold black">* 배송 불가 지역 → 군 부대, 해외배송</span>
                                <br><br>
                                죄송하지만, 택배사 문제로 군 부대는 배송이 불가합니다.
                                꼭 군 부대로 받으시길 원하시면 
                                5,000원(우체국택배비) 추가 배송비 입금해주셔야 합니다
                                또한, 국내배송만 지원하고 있으므로 해외배송은 어렵습니다.
                            </p>
                            <br>
                            <p>
                                <span class="h5 bold black">* 주소지, 연락처 오류로 반송 처리된 경우</span>
                                <br><br>
                                다시 받아보길 원하신다면 왕복 택배비 5,000원을 부담해주셔야 됩니다.
                            </p>
                        </div>
                        <div class="product_delivery_right">
                            <div class="product_delivery_right_top">
                                <p>
                                    <span class="h5 bold black">* 반품 / 환불</span>
                                    <br><br>
                                    주소 : 서울 금천구 서부샛길 606 대성디폴리스 A동 지하 B116호
                                    (반품 전 전화 또는 게시판에 접수 부탁드립니다.)
                                    <br>
                                    070-4352-5176 또는 게시판에 글을 남겨주시면 반품/환불에 대한 답변 드리겠습니다.
                                    반품 / 환불을 원하시는 고객님은 아래 내용을 참고하여 주시기 바랍니다.
                                    <br>
                                    * 취소 신청은 물품 배송 이전에만 가능하며 
                                    출고 이후에는 반품으로 진행 해주셔야 합니다.
                                    <br>
                                    * 임의로 반송 보내시어 분실된 물품에 대해서는 도움드리기 어렵습니다.
                                    <br>
                                    * 임의 반송은 절대 하시면 안됩니다.
                                    - 자세한 환불 문의는 게시판이나 고객센터 상담을 통해 진행 부탁드립니다.
                                </p>
                            </div>
                            <br>
                            <div class="product_delivery_right_bottom">
                                <p>
                                    <span class="black bold">1. 단순변심인 경우</span>
                                    <br><br>
                                    - 결제일 다음날로부터 7일 이내에 개봉하지 않은 새 제품 (단상자 개봉 흔적X)일 경우에만 
                                    가능하며 사은품을 함께 받아보신 경우 모두 반납해주셔야 합니다.
                                    (단, 사은품 사용시 해당 금액만큼 공제 후 환불)
                                </p>
                                <br>
                                <p>
                                    <span class="black bold">2. 상품불량, 오배송인 경우</span>
                                    <br><br>
                                    - 제품 구매일 다음날로부터 7일 이내 교환/반품이 가능하며
                                    택배비는 헤이네이처에서 부담합니다.
                                    (상품 불량, 오배송 증명 사진을 게시판에 올려주세요.)
                                </p>
                                <br>
                                <p>
                                    <span class="black bold">3. 제품 사용 후 피부 이상인 경우</span>
                                    <br><br>
                                    - 결제일 다음날로부터 10일 이내에 피부과에서 받은 처방전
                                    약봉지, 피부 트러블 발생 사진(사용 전, 후)을 첨부하여
                                    '헤이네이처' 문의 게시판에 남겨주시면 확인 후 환불 및 반품을 도와드리겠습니다.
                                    (결제일 다음날로부터 15일이 지난 경우, 환불 불가)
                                </p>
                                <br>
                                <p>
                                    <span class="black bold">4. 반품 / 환불이 불가능한 경우</span>
                                    <br><br>
                                    - 포장을 개봉하여 사용하거나 상품의 가치가 훼손된 경우
                                    (단상자/비닐 훼손도 포함)

                                    - 피부 이상이더라도 구매 후 15일이 지난 경우

                                    - 제품을 사용 하셨을 경우

                                    더 궁금하신 사항이 있을 경우 '헤이네이처' 게시판이나 고객센터를 이용해 문의 주시면 
                                    빠르게 도움 드리도록 하겠습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>