<section class="product_sec w1200">
    <ul id="kaTop">
        <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
        <li><a class="top" id="top" href="javascript:void(0);"></a></li>
    </ul>
    
    <h3>Order List</h3>

    <div class="product_tabs">
        <div class="user_info_box">
            <ul style="display: flex; justify-content: space-between;">
                <li style="line-height:40px;">주문번호 : <%=data.ordernum%> </li>
            </ul>
        </div>

        <!-- Order list-->
        <div>
            <!-- (비회원용) 구매(order)리스트 확인 -->
            <div class="shopping-cart">
                <!-- Title -->
                <div class="title">
                    비회원 주문 상품 정보
                </div>
                
          
                    <!-- Product #1 -->
                    <div class="item">
                        <!-- <div class="buttons">
                            <span class="delete-btn"></span>
                            <span class="like-btn"></span>
                        </div> -->
            
                        <!-- 상품 이미지 -->
                        <div class="or_image">
                            <!-- <img src="https://designmodo.com/demo/shopping-cart/item-1.png" alt="" /> -->
                            <img src="<%=or_image%>" alt="" style="width:120px; height:80px;" />
                        </div>
            
                        <!-- 상품명 -->
                        <div class="description">
                            <span><%=or_prodname%></span>
                        </div>

                        <!-- 수량 -->
                        <div class="quantity">
                            <input type="text" name="name" value="<%=data.quantity%>">개
                        </div>

                        <!-- 상품 가격 -->
                        <div class="total-price">
                            <%=data.totalprice%>원
                        </div>

                        <!-- 주문 일시 -->
                        <div class="orderdate">
                            <%=data.indate%>
                        </div>

                        <!-- 배송상태 -->
                        <div class="orderdate">
                            <%if (data.result==1){%>
                                <%="배송 전"%>
                            <%}else{%>
                                <%="배송 완료"%>
                            <%}%>
                        </div>
                    </div>
            </div>
    </div>
    
    </div>
</section>

