
        <section class="product_sec w1200">
            <ul id="kaTop">
                <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
                <li><a class="top" id="top" href="javascript:void(0);"></a></li>
            </ul>
            <!-- (관리자용) 상품 업로드 버튼 (/upload) -->
            <% if(userId === 'admin1'){ %>
                <!-- <article class="write_btn_box">
                    <div onclick="javascript:location.href='/upload'">상품 업로드<%=userId%></div>
                </article> -->
            <%}%>
            <h3>SHOP</h3>
            <div class="product_tabs">
                <ul class="pro_tab1">
                    <li class="pro_active pro_en"><a href="javascript:void(0);">BEST</a></li>
                    <li class="ko"><a href="javascript:void(0);">유형별</a></li>
                    <li class="ko"><a href="javascript:void(0);">어성초</a></li>
                </ul>

                <!-- BEST 상품 tab-->
                <div class="tabContent pro_active">
                    <div class="tabContentInner">
                        <div class="product_box1">
                            <!-- BEST 상품 나열 : 판매량순으로 정렬 -->
                            <%results.forEach(( row, index )=>{%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                            <em class="rank_txt rank1"><%=index+1%></em>
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                            <%})%>
                        </div>
                    </div>
                </div>

                <!--유형별 상품 tab-->
                <div class="tabContent">
                    <div class="tabContentInner">
                        <div class="product_box2">
                            <ul class="pro_tab2">
                                <!-- 유형별 -->
                                <li class="pro_active">
                                    <a href="javascript:void(0);">ALL</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">SKIN / LOTION</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">SERUM / AMPLE</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">CLEANSING</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">CREAM / MASK</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">BB</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">CUSHION</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">EYE</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">SET</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">ETC</a>
                                </li>
                            </ul>
                            
                            <!--(완)유형별-ALL tab 상품-->
                            <div class="tabContent2 pro_active">
                                <%rows.forEach(( row, index )=>{%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%})%>
                                
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>

                            </div>
                            <!--(완)유형별-SKIN/LOTION tab (kind = 1) 상품-->
                            <div class="tabContent2">
                                <%rows.forEach(( row, index )=>{%>
                                    <%if(row.kind=="1"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%}})%>
                                
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span id="currentPage">1</span> / <span id="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>
                            </div>
                            
                            <!--(완)유형별-SERUM / AMPLE tab (kind = 2) 상품-->
                             <div class="tabContent2">
                                <%rows.forEach(( row, index )=>{%>
                                    <%if(row.kind=="2"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%}})%>
                               
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>
                            </div>

                            <!--(완)유형별-Cleansing tab (kind=3) 상품-->
                            <div class="tabContent2">
                                <%rows.forEach(( row, index )=>{%>
                                    <%if(row.kind=="3"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%}})%>
                                
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>
                            </div>

                            <!--(완)유형별-cream/mask tab (kind=4) 상품-->
                            <div class="tabContent2">
                                <%rows.forEach(( row, index )=>{%>
                                    <%if(row.kind=="4"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%}})%>
                                
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>
                            </div>

                            <!--(완)유형별-bb tab (kind=5)상품-->
                            <div class="tabContent2">
                                <%rows.forEach(( row, index )=>{%>
                                    <%if(row.kind=="5"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%}})%>
                                
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>
                            </div>

                            <!--(완)유형별-cushion tab (kind = 6) 상품-->
                            <div class="tabContent2">
                                <%rows.forEach(( row, index )=>{%>
                                    <%if(row.kind=="6"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%}})%>
                               
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>
                            </div>

                            <!--(완)유형별-eye tab (kind=7) 상품-->
                            <div class="tabContent2">
                                <%rows.forEach(( row, index )=>{%>
                                    <%if(row.kind=="7"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%}})%>
                                
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>
                            </div>

                            <!--(완)유형별-set tab (kind=8) 상품-->
                            <div class="tabContent2">
                                <%rows.forEach(( row, index )=>{%>
                                    <%if(row.kind=="8"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%}})%>
                                
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>
                            </div>

                            <!--(완)유형별-etc tab(kind=9) 상품-->
                            <div class="tabContent2">
                                <%rows.forEach(( row, index )=>{%>
                                    <%if(row.kind=="9"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                                <%}})%>
                                
                                <div class="more_btn">
                                    <a href="javascript:void(0);" class="more">
                                        더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 어성초 상품 tab -->
                <div class="tabContent">
                    <div class="tabContentInner">
                        <div class="product_box1">
                            <!-- 어성초 상품 (kind=10) 나열 -->
                            <%rows.forEach(( row, index )=>{%>
                                <%if(row.kind=="10"){%>
                                <figure>
                                    <a href="javascript:void(0);" onclick="javascript:location.href='/detail?prodnum=<%=row.prodnum%>'">
                                        <div class="product_img_test">
                                            <img class="test_content" src="<%= row.image%>" alt="(S3)업로드한 이미지 가져오기" />
                                        </div>
                                        <figcaption>
                                            <h3><%= row.name%></h3>
                                            <h4><%= row.engname%></h4>
                                        </figcaption>
                                    </a>
                                    <div>
                                        <span class="price">₩<%= row.price1%></span>
                                        <span class="dc_price">₩<%= row.price2%></span>
                                    </div>
                                </figure>
                            <%}})%>
                            
                            <div class="more_btn">
                                <a href="javascript:void(0);" class="more_tab1">
                                    더보기 <span>(<span class="currentPage">1</span> / <span class="totalPage">1</span>)</span>  ▼
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>


