<section style="padding:200px">

    <!-- 글/이미지 업로드 -->
    <form class="w1200" method="POST" action="/prod_update" enctype="multipart/form-data" style="padding-top: 100px; box-sizing: border-box;" onsubmit="return checkPw()">
        <div class="cs_tabContent" style="display:block">
            <div class="cs_tabContentInner">
                <div class="cs_box1">
                    <div class="ask_title">
                        <p class="h3 bold">상품 수정 페이지</p>
                    </div>
                    <div class="ask_title_wrap notipw">
                        <div class="ask_title">
                            <input type="password" name="pw" id="pw">
                            <span>관리자 비밀번호 재확인</span>
                        </div>
                    </div>

                    <!-- 상품번호 -->
                    <input type="hidden" name="prodnum" value="<%=row.prodnum%>">

                    <div class="ask_title_wrap">
                        <div class="ask_box">
                            <div class="ask_title2">
                                <span>이미지</span>
                                <input type="file" name="imgFile" style="padding-top:20px;height:25px;">
                            </div>
                        </div>
                    </div>
                    
                    <div class="ask_title_wrap">
                        <div class="ask_box">
                            <div class="ask_title2">
                                <input type="text" name="name" id="title" value="<%=row.name%>">
                                <span>상품명</span>
                            </div>
                        </div>
                    </div>

                    <div class="ask_title_wrap">
                        <div class="ask_box">
                            <div class="ask_title2">
                                <input type="text" name="engname" id="title"  value="<%=row.engname%>">
                                <span>(ENG)상품명</span>
                            </div>
                        </div>
                    </div>

                    <div class="ask_title_wrap">
                        <div class="ask_box">
                            <div class="ask_title2" style="padding-top:20px;">
                                <span>상품종류</span>
                                <!-- <input type="text" name="kind"> -->
                                <select name="kind">
                                    <option value="" selected><%=row.kind%></option>
                                    <option value="1">SKIN / LOTION</option>
                                    <option value="2">SERUM / AMPLE</option>
                                    <option value="3">CLEANSING</option>
                                    <option value="4">CREAM / MASK</option>
                                    <option value="5">BB</option>
                                    <option value="6">CUSHION</option>
                                    <option value="7">EYE</option>
                                    <option value="8">SET</option>
                                    <option value="9">ETC</option>
                                    <option value="10">Eoseongcho</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="ask_title_wrap">
                        <div class="ask_box">
                            <div class="ask_title2">
                                <input type="text" name="price1"  value="<%=row.price1%>">
                                <span>원가</span>
                            </div>
                        </div>
                    </div>

                    <div class="ask_title_wrap">
                        <div class="ask_box">
                            <div class="ask_title2">
                                <input type="text" name="price2"  value="<%=row.price2%>">
                                <span>판매가</span>
                            </div>
                        </div>
                    </div>

                    <div class="ask_content_wrap">
                        <div class="ask_box">
                            <div class="ask_content2">
                                <textarea name="content" id="content"  value="<%=row.content%>"></textarea>
                                <span>상세 설명</span>
                            </div>
                        </div>
                    </div>

                    <div class="ask_title_wrap">
                        <div class="ask_box">
                            <div class="ask_title2">
                                <input type="text" name="stock"  value="<%=row.stock%>">
                                <span>수량</span>
                            </div>
                        </div>
                    </div>

                    <div class="ask_title_wrap">
                        <div class="ask_box">
                            <div class="ask_title2">
                                <input type="text" name="useyn"  value="<%=row.useyn%>">
                                <span>판매유무</span>
                            </div>
                        </div>
                    </div>

                    <div class="ask_submit_wrap">
                        <div class="update_submit">
                            <input type="submit" value="업데이트">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

</section>